@model AddCategoryViewModelByName
<div class="container m-3 ">
    <div class="row mt-4">
        <!-- العمود الأول -->
        <div class="col-12 col-md-7">
            <h3>Create New Category</h3>
            <form asp-controller="Category" asp-action="Create" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div>
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" placeholder="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="file" onchange="liadFile(event)" asp-for="clientFile" class="pt-3" />
                        <span asp-validation-for="clientFile" class="text-danger"></span>
                    </div>
                    <div class="pt-4">
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>
                </div>
            </form>
            <div class="pt-3">
                <a asp-action="Index" asp-controller="Category">Back to HOME</a>
            </div>
        </div>

        <!-- العمود الثاني -->
        <div class="col-12 col-md-5">
            <img id="myImg" class="img-fluid text-end" width="500" height="400" />
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        var liadFile = function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                var myImg = document.getElementById('myImg');
                myImg.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
}




