@{
    ViewData["Title"] = "Cancel Order";
}

<div class="container-fluid">
    <div class="container text-center py-4">
        <p class="w-lg-50 mx-auto">Your order has been cancelled.</p>
        <a asp-action="Index" asp-controller="Home" class="btn My-btn">Continue Shopping</a>
    </div>
</div>

