@{
     ViewData["Title"] = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>Forgot Password Confirmation</h1>
</hgroup>
<div>
    <p>
        We have sent an Email with the instructions to reset your password.
    </p>
</div>